

<% if @current_user %>
  // alert("way to go!");/
  // window.location = "/"; -- works, but you can feel the reload

  $('#auth-sign-in-modal').modal('hide')

  $("#header-nav").html("<%= j render partial: "layouts/nav" %>");

<% else %>

  $(".form-feedback").append($('<div class="alert alert-danger" role="alert">Email or Password was bad bad bad</div>'));

<% end %>
